.container {
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
}

.container .header {
  display: flex;
  align-items: center;
}

.container .content {
  display: flex;
  flex-direction: column;
}

.container div {
  margin-top: 10px;
}